<article class='item'>
  <%= image_tag(item.thumbnail_url) %>
  <div class='item-details'>
    <div class='item-title'>
     <h2><%= item.title %></h2>
    </div>
    <div class='user-details'>
      <div class='user-image-name'>
        <%= image_tag(item.user.display_picture) %>
        <p><%= item.user.name %></p>
      </div>
      <% if item.user.rating.present?%>
        <div class='user-rating'>
          <%= image_tag('rating-icon') %>
          <p><%= item.user.rating %></p>
        </div>
      <% end %>
    </div>
    <div class='item-distance-views'>
      <div class='item-detail'>
        <%= image_tag('distance-icon') %>
        <p><%= item.distance %>mi</p>
      </div>
      <div class='item-detail'>
        <%= image_tag('views-icon') %>
        <p><%= item.views %></p>
      </div>
    </div>
  </div>
</article>